#back {
    text-align: center;
    display: block;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: auto;
}

h1 {
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 100px;
}

p {
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 50px;
    margin: auto;
}

#start {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    top: 300px;
    height: 75px;
    width: 170px;
    font-size: 1cm;
}