h2 {
    text-align: center;
}

.mainpicture {
    text-align: center;
}

#beforestart {
    text-align: center;
    display: block;
    margin: auto;
    height: 75px;
    width: 170px;
}

#intro {
    text-align: center;
    display: block;
    margin: auto;
    height: 50px;
    width: 120px;
}

#exit {
    text-align: center;
    display: block;
    margin: auto;
    height: 30px;
    width: 50px;
}